* {
    box-sizing: border-box;
}
.nowrap {
    white-space: nowrap;
}
/*-- author pictures --*/
img {
    width: 200px;
    height: 210px;
}
/*-- nav bar --*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4b2e83;
    padding: 0.75rem 0.75rem 0;
    z-index: 300;
    display: inline;
}
nav img {
    width: 40px;
    height: 40px;
    background-color: #B39BC8;
    border-radius: 10px;
}
nav a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}
.navLink {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    padding-left: 1rem;;
}
.navLink:hover {
    color: #CAC4CE;
    text-decoration: underline;
}
li {
    display: inline;
    margin-right: 1rem;
}
ul {
    margin: 0;
    padding: 0.5rem 0 0;
}
nav ul {
    display: inline-block;
}
:any-link:hover {
    color: #CAC4CE;
    padding-bottom: 0.5rem;
    
}
.search {
    display: inline;
    padding: 1rem;
    margin-right: 1rem;
    float: right;
}
.search input {
    height: 2.5rem;
    font-size: 1.5rem;
    margin-right: 1rem;
}

/*-- form --*/
.error-message {
    display: none;
}
.view {
    font-size: 1.5rem;
}
.sugarrange {
    width: 25%;
}
.filtertype {
    background-color: #eee;
}
.form-column {
    display: none;
}

/*-- Filter Form Modal on smaller screens */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  position: absolute;
  right: 1.5rem;
  font-size: 3rem;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*-- card views --*/
.card-title {
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
}
.card-text {
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
}
.small-view {
    position: absolute;
    right: 50px;
    font-size: 1.5rem;
}
.container {
    display: flex;
    width: 100%;
}
.candy-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    flex-direction: row;
}
.form-column {
    width: 40%;
}

.cards-column {
    width: 100%;
}
.heart {
    width: 50px;
    padding-right: 1rem;
}
.stars {
    align-content: center;
    padding-left: 38%;
}
/*-- list view --*/
.cardpoolList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    
}
.cardpoolList .card {
    display:flex;
    flex-direction: row;
    margin: 0.5rem;
    width: 100%;
    
}
.cardpoolList .card img {
    float:right;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}
.cardpoolList .card-body {
    float:left;
    margin:0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    background-color: #4b2e83;
    color: #eee;
    text-align: center;
    width: 100%;
}
.cardpoolList .card p {
    font-size: 1rem;
    font-weight: bold;
}

/*-- grid view --*/
.cardpoolGrid {
    display: inline-flex;
}
.cardpoolGrid .card {
    flex:1;
    margin: 0.5rem;
}
.cardpoolGrid .card img {
    border-radius: 10px;
}
.cardpoolGrid .card-img-top {
    width: auto;
}
.cardpoolGrid .stars {
    padding-left: 1%;
}
.cardpoolGrid .card-body {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #4b2e83;
    color: #eee;
    text-align: center;
}
.cardpoolGrid .card p {
    font-size: 1rem;
    font-weight: bold;
}

.btn:hover {
    text-decoration: none;
    background-color:rgb(49, 49, 253);
    border-bottom: none;
}
.signin-modal-txt {
    text-align: center;
}
.signin-modal-close {
    top: 0;
   float: right;
}

/*-- problem statement --*/

body {
    background-color: #F0EBF4;
    padding-top: 80px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.problem {
    width: 80%;
    margin: auto auto 5%;
    text-align: center;
    background: #B39BC8;
    border-radius: 10px;
    padding: 20px 12px;
}

/*-- description --*/

.description {
    background: #A1C3D1;
}

/*-- authors --*/

.authors {
    width: 80%;
    margin: auto;
    text-align: center;
}
/*-- author row --*/
.authors-about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*-- author info box  --*/
.author-col {
    
    width: 100%;
    background: #8b71be;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
/*-- names --*/
h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
/*-- linkedin logos --*/
.linkedin {
    width: 50px;
    height: 50px;
}

/*-- individual candy info pages --*/

.candy-detail {
    background-color: #A1C3D1;
    color: #4b2e83;
    text-align: left;
    padding-left: 2em;
}
.data-ans {
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 10px;
}
.ind-container {
    display: flex;
}
.nutrition-info {
    display:none;
}
.nutrition-info img{
    align-content: center;
    width: 400px;
    height: fit-content;
    
}

.indv-info {
    display: flex;
    justify-content: space-around;
}
.indv-col{
    flex-basis: 1;
    background: #8b71be;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.indv-container {
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.indv-candy-img {
    display: block;
    justify-content: space-around;
    align-content: center;
}

/*-- header --*/
.header-row{
    display:flex;
    flex-wrap: wrap;
    box-sizing:border-box;
}
.header-image{
    position: relative;
    padding-left: 100px;
    display: inline-block;
   
}
.header-image img {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.header-text{
    display: inline-block;
    position: relative;
    padding-top: 50px;
    padding-left: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}

/*-- footer --*/
.footer {
    
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

/*-- back button --*/
.back {
    width: 10px;
    height: 10px;
}

/*-- media queries --*/
@media (min-width: 768px) {
    header {
        background-image: url('./data/img/candygif.gif');
        background-size:cover;
    }
    .header-text {
        color: black;
        background-color: rgb(255, 255, 255, 0.7);
    }
    .header-image {
        display: none;
    }
    .nutrition-info {
        display: block;
    }
    .author-col {
        flex-basis: 40%;
    }
}
@media (min-width: 992px) {
    .form-column {
        display: block;
    }
    .small-view {
        display: none;
    }
    .cardpool {
        position:relative;
    }
    .author-col {
        flex-basis: 30%;
    }
}